.category {
    margin-top: -15%;
}

.categoryHead {
    display: block;
    position: absolute;
    margin-left: -5%;
    margin-top: -25%;
    width: 100%;
    z-index: 1;
}

.fade {
    pointer-events: none;
    background: linear-gradient(90deg, white, transparent 30%, transparent 70%, white);
    position: absolute;
    inset: 0;
    height: 30vh;
    position: absolute;
    margin-top: 33em;
}

.tabs {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
    font-size: 25px;
    padding-top: 2px;
    padding-left: 6em;
}